<div id="Education" class="bg-black text-white lg:ml-56 p-8 sm:p-24">
  <p class="font-bold text-amber-400 text-4xl md:text-5xl lg:text-7xl mb-12">Education.</p>
  <div class="container mx-auto p-6">
    @for (education of educationList; track education) {
      <div
        class="bg-white shadow-lg rounded-lg p-6 mb-6 transform transition-transform duration-300 hover:scale-105 animate-fadeIn"
      >
        <div class="flex items-center">
          <img
            class="w-16 h-16 mr-6"
            [src]="education.logo"
            alt="{{ education.institution }}"
          />
          <div>
            <p class="font-bold text-md text-gray-600">{{ education.degree }}</p>
            <p class="text-sm text-gray-500">{{ education.duration }}</p>
            <p class="text-gray-700 text-xs">
              {{ education.description }}
            </p>
          </div>
        </div>
      </div>
    }
  </div>
</div>
