<div
  id="About"
  class="bg-[url('/Faisal.jpg')] bg-center lg:ml-56 h-screen flex items-center lg:pl-12 p-6"
>
  <div class="bg-gray-200 rounded-lg animate-fadeIn flex flex-col p-6 lg:p-12">
    <p class="text-gray-900 font-bold lg:text-7xl text-3xl mb-4 lg:mb-16">
      Hi there!
    </p>
    <p class="text-black lg:text-lg text-base lg:w-[29rem]">
      My name is Faisal Ibrahim and I am a dynamic
      <span class="font-bold">Software Engineer</span> with expertise in
      <span class="font-bold text-[#c3002f]">Angular</span>,
      <span class="font-bold text-[#42b883]">Vue</span>,
      <span class="font-bold text-[#6cc24a]">NodeJs</span>,
      <span class="font-bold text-[#589636]">MongoDB</span>,
      <span class="font-bold text-[#06b6d4]">TailwindCSS</span> and
      <span class="font-bold">Express</span>. I have
      <span class="font-bold">3 years</span> of professional development
      experience and have demonstrated success in delivering robust and scalable
      applications within agile environments. Proven ability to ensure security
      and optimize performance in all systems developed. Committed to Test
      Driven Development (TDD) principles, resulting in the creation of
      well-tested and reliable applications. Known for flexibility and quick
      learning, individually as well as in a team of 20.
    </p>
  </div>
  <div
    class="bg-gray-100 opacity-80 rounded-lg p-1 lg:flex items-center hidden fixed top-5 right-5"
  >
    <img
      class="w-8 h-8 hover:scale-105 transform transition-transform duration-300"
      src="assets/angular.svg"
    /><img
      class="w-8 h-8 hover:scale-105 transform transition-transform duration-300"
      src="assets/tailwind.svg"
    />
  </div>
</div>
